.footer {
  padding: 0em 4em;
  padding-bottom: 2.5em;
  /* background-color: #202226 !important; */
  opacity: 0;
  transition: opacity 1s;
  scroll-snap-align: end;
}

.footer p {
  font-size: 0.8em;
}

.footer input {
  font-size: 0.6em;
}

.footer a {
  color: var(--color-accent);
}

@media (max-width: 768px) {
  .footer {
    padding: 0em 2em;
    padding-bottom: 2em;
  }
}
