:root {
  --color-black: #161616;
  --color-white: white;
  --color-accent: #37f79b;
  --z-nav: 1;
}

html,
body,
#__next {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: var(--color-black);
}

main {
  flex: 1;
}

.hide-overflow {
  overflow-y: hidden;
}

@font-face {
  font-family: "SpaceTypeSans-wide";
  src: url("fonts/SpaceTypeSans-wide.otf") format("otf");
}

@font-face {
  font-family: "AdelleMonoFlex-Regular";
  src: url("https://fonts-priv.vercel.app/w19j2r90121t9021t90t099eru20u1902u10/AdelleMonoFlex-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "AdelleMonoFlex-Bold";
  src: url("https://fonts-priv.vercel.app/w19j2r90121t9021t90t099eru20u1902u10/AdelleMonoFlex-Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Ampersandist Light";
  src: url("https://fonts-priv.vercel.app/29ru1092uf910fgj290jg90/Ampersandist_v0.2-Light.ttf");
}

@font-face {
  font-family: "Ampersandist Medium";
  src: url("https://fonts-priv.vercel.app/29ru1092uf910fgj290jg90/Ampersandist_v0.2-Medium.ttf");
}

@font-face {
  font-family: "Ampersandist Black";
  src: url("https://fonts-priv.vercel.app/29ru1092uf910fgj290jg90/Ampersandist_v0.2-Black.ttf");
}

.ampersandist-light {
  font-family: "Ampersandist Light";
}

.ampersandist-medium {
  font-family: "Ampersandist Medium";
}

.ampersandist-black {
  font-family: "Ampersandist Black";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
input {
  font-family: "AdelleMonoFlex-Regular", monospace;
  color: white;
}

.theme-light h1,
.theme-light h2,
.theme-light h3,
.theme-light h4,
.theme-light h5,
.theme-light h6,
.theme-light p,
.theme-light a,
.theme-light span,
.theme-light ul,
.theme-light input {
  color: var(--color-black);
}

input {
  background-color: var(--color-black);
  border-color: #ffffffbb;
  outline: none;
  border: none;
  caret-color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.8em;
}

h1 {
  font-size: 2.1em;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
  margin: 1.5em 0 0.5em 0;
}

p {
  text-transform: none;
  font-weight: 300;
  line-height: 1.5em;
  font-size: 1.1em;
}

.subtext {
  font-size: 1em;
}

.minitext {
  font-size: 0.7em;
}

hr {
  color: white;
  width: 100%;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-centered-v-h {
  align-items: center;
}

.flex-end-j {
  justify-content: flex-end;
}

.flex-end-a {
  align-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.full-vw {
  width: 100%;
}

.full-vh {
  height: 100%;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.list-basic {
  list-style: none;
  padding-left: 0;
}

#canvas {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fade-in {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fade-out {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}
.delay-3 {
  animation-delay: 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes widthIn {
  0% {
    background-size: 0% 1px;
  }
  100% {
    background-size: 100% 1px;
  }
}

a {
  color: var(--color-white);
  text-decoration: none;
}

.content a {
  color: var(--color-accent);
}

.nav {
  z-index: var(--z-nav);
  display: block;
  width: 100%;
}

.link {
  display: inline-block;
  color: var(--color-white);
  font-size: 0.9em;
}

.link.active {
  padding-bottom: 6px;
  background: linear-gradient(#f7f7f7 0 0);
  background-size: 0% 1px; /* we make the top one 0% width */
  background-position: bottom left;
  background-repeat: no-repeat;
  animation-name: widthIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.link.active:hover {
  background: linear-gradient(#ffffffbb 0 0);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.controls {
  float: right;
}
.link a {
  transition: color 0.2s;
}
.link:hover,
.link a:hover {
  color: #ffffff99;
}

#about {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
}

.content {
  padding-top: 13em;
  padding-bottom: 7em;
  padding-left: 5em;
  padding-right: 5em;
  margin: 0 auto;
}

.markdown-body {
  max-width: 750px;
  color: #ffffffaa;
  text-align: left;
}

.markdown-body hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.about-title {
  font-size: 2em;
  color: white;
}

.about-head {
  font-size: 1.4em;
  color: white;
}

.about-contact {
  margin-bottom: 2em;
  color: white;
}

#nav-area {
  margin: 2em 3em;
  font-size: 1.2rem;
}

#progress {
  width: 1%;
  background-color: #ffffff55;
  height: 1px;
  max-width: 19px;
  margin-top: 1em;
}
#nav-box {
  display: flex;
  gap: 1.5em;
  align-items: flex-start;
}

#play-box {
  margin-right: 1.5em;
  display: flex;
}

#play {
  margin-right: 1.5em;
  font-size: 0.8rem;
  display: inline-block;
  align-self: center;
  color: #ffffff55;
  cursor: pointer;
}

.sketch-controls {
  margin: 2em;
  margin-left: auto;
  max-width: 60px;
}

.typetester-content-container {
  gap: 1.5em;
  max-width: min(90vw, 900px);
  min-width: min(80vw, 900px);
}

.typetester-container {
  gap: 4em;
  max-width: min(85vw, 900px);
}

.typetester-info-container {
  gap: 10px;
  align-items: flex-start;
}

.typetester-label {
  font-size: 1.2em;
  color: white;
  flex: 0 10 20%;
}

.typetester {
  font-size: 4em;
  color: white;
  outline: currentcolor none 0px;
  white-space: normal;
  overflow-wrap: break-word;
  flex: 10 0 80%;
  max-width: 75%;
}

.flex-item-1-2 {
  flex: 1 1 50%;
}

.flex-item-3-5 {
  flex: 1 1 60%;
}

.flex-item-2-5 {
  flex: 1 1 40%;
}

@media (max-width: 1048px) {
  p {
    font-size: 1em;
  }

  .about-head {
    font-size: 1.2em;
  }
}

.logo {
  margin: 2em;
  float: left;
  opacity: 100%;
  transition: opacity 0.1s;
  cursor: pointer;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.logo:hover {
  opacity: 50%;
}

@media (min-width: 769px) {
  .flex-h-md {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .content {
    padding-top: 13em;
    padding-left: 2em;
    padding-right: 2em;
  }
  .flex-v-sm {
    display: flex;
    flex-direction: column;
  }
  .typetester {
    max-width: 100%;
  }
  .typetester-container {
    gap: 2em;
  }
  .typetester {
    font-size: 3.5em;
  }
}

#sketches-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  background-color: #161616;
  scroll-behavior: smooth;
}

.sketch-container {
  scroll-snap-align: start;
  position: relative;
  background-color: #161616;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out, opacity 0.1s ease-in-out;
  mix-blend-mode: difference;
  opacity: 50%;
}

.ct-btn-scroll:hover {
  cursor: pointer;
}

.ct-btn-scroll:hover {
  opacity: 100%;
}

/*#nav-menu {
  display: none;
  float: right;
}*/

@media (max-width: 600px) {
  .logo {
    margin-right: 0.5em;
  }
  .flex-item-sm-1 {
    flex: 1 1 100%;
  }
  .flex-v-xs {
    display: flex;
    flex-direction: column;
  }
  #nav-box {
    align-items: flex-end;
  }
  #nav-area {
    margin-left: 0.5em;
    margin-right: 2em;
  }
  #nav-box .link {
    font-size: 0.85em;
  } /*
  #nav-box {
    display: none;
  }
  #nav-menu {
    display: flex;
  }*/
}
