.light {
    background-color: var(--color-white);
    color: var(--color-black);
    transition: background-color var(--theme-transition-time), color var(--theme-transition-time);
}

.light p {
    color: var(--color-black);
    transition: background-color var(--theme-transition-time), color var(--theme-transition-time);
}