.formContainer {
  margin-top: 1rem;
  margin-right: 1rem;
  width: 95%;
  max-width: 400px;
  gap: 0.5rem;
}

.messageContainer {
  width: 100%;
  max-width: 600px;
}

.emailInput {
  width: calc(100% - 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #ffffff99;
  color: var(--color-white);
}

.emailInput:focus {
  border: 1px solid white;
}

.mergeTable {
  flex: 0 0 80%;
}

.formSubmitButton {
  background: white;
  color: var(--color-black);
  flex: 0 0 20%;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  max-width: 110px;
  border: none;
  transition: background-color 0.2s, opacity 0.2s, border 0.2s, color 0.2s;
}

.formSubmitButton:hover:not(.disabled) {
  background: var(--color-accent);
}

.disabled {
  background: none;
  border: 1px solid white;
  color: white;
  opacity: 0.5;
  cursor: default;
}
