@keyframes slideUp {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.project-title span {
  display: inline-block;
  position: relative;
  transform: translateY(-40px);
  opacity: 0;
}

.slide-up-on-scroll-1, .slide-up-on-scroll-0 {
  opacity: 0;
}

.slide-up-on-scroll-1-4 {
  opacity: 0;
}

.slide-up {
  opacity: 0;
  animation: slideUp ease .4s forwards;
}

.slide-down {
  animation: slideDown ease .4s forwards;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.wipe-down {
  animation: 1s cubic-bezier(0.65, 0, 0.35, 1) wipe-in-right both;
  animation-delay: 0.5s;
}

.no-delay {
  animation-delay: 0s;
}

.wipe-down-on-scroll-1, .wipe-down-on-scroll-1-4, .wipe-down-on-scroll-0 {
  clip-path: inset(0 0 100% 0);
}
