.items-grid {
  --num-items: 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100% / var(--num-items)));
  grid-auto-rows: auto;
  grid-gap: 0px;
  align-items: center;
}

@media (max-width: 1048px) {
  .items-grid {
    --num-items: 5;
  }
}

@media (max-width: calc((1048px + 768px) / 2)) {
  .items-grid {
    --num-items: 4;
  }
}

@media (max-width: 768px) {
  .items-grid {
    --num-items: 1;
  }
}

@media (max-width: 600px) {
  .items-grid {
    --num-items: 1;
  }
}

.project-grid {
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(12,1fr);
  /* grid-auto-rows: 1fr; */
  margin: auto;
  width: 100%;
  grid-gap: 1em;
}

.project-grid img, .project-grid video {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.project-grid .tile-w-12 {
  grid-row-end: span 12;
}

.project-grid .tile-w-6 {
  grid-row-end: span 6;
}

.project-grid .tile-h-12 {
  grid-column-end: span 12;
}

.project-grid .tile-h-6 {
  grid-column-end: span 6;
}

.project-hover-overlay {
  align-items: center;
  justify-content: center;
  background-color: #00000066;
}

.project-title {
}
