.items-grid {
  --num-items: 6;
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100% / var(--num-items)));
  grid-auto-rows: auto;
  grid-gap: 0px;
  align-items: center;
}

.list-col-lg-2-sm-1 {
  columns: 2;
}

@media (max-width: 1048px) {
  .items-grid {
    --num-items: 5;
  }

  .list-col-lg-2-sm-1 {
    columns: 1;
  }
}

@media (max-width: calc((1048px + 768px) / 2)) {
  .items-grid {
    --num-items: 4;
  }
}

@media (max-width: 768px) {
  .items-grid {
    --num-items: 1;
  }
  .list-col-lg-2-sm-1 {
    columns: 2;
  }
}

@media (max-width: 600px) {
  .items-grid {
    --num-items: 1;
  }
  .list-col-lg-2-sm-1 {
    columns: 1;
  }
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color-white);
  color: black;
}